# Бинарные файлы (результат компиляции)
*.o
*.out
*.exe

# Временные файлы
*.swp
*.tmp

# Системные файлы
.DS_Store

# Папки кэша (Python, Rust)
__pycache__/
/target/  # Для Rust

# Настройки IDE
.vscode/
.idea/
